.form {
    width: 30%;

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            border-bottom: 1px solid #fff;
            color: #fff;
            font-size: 30px;
        }
        input[type=text]:not(.browser-default):focus:not([readonly]){
            border-bottom: 1px solid #fff;
            box-shadow: 0 1px 0 0 #fff;
        }
 
    }

}
.input-field{
    label{
        font-size: 15px;
        color: #fff !important;
    }
}

mz-select-container{
    width: 50%;
}
button{
    box-shadow: none !important;
    height: 100%;
    width: auto;
    line-height: 58px;
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.invalid{
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: darkred;
    position: absolute;
    bottom: -20px;
    font-weight: 500;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    font-weight: bolder;
    background: rgba(255,255,255, 0.1);
    width: 100%;

}

@media (max-width: 700px) { 
    .form{
        width: 100%;
    }
    mz-select-container{
        width: 100%;
    }
}